/*#excomm {
    content: '';
    flex: auto;
}*/

#contact {
    width: 1200px;
    max-width: 100vw;
    display: block;
    text-align: center;
}

#contact>.desc {
    font-size: 1.1em;
}

.quote {
    color: #fff;
    font-style: italic;
    display: inline-block;
    opacity: 0.7;
}

.officers-image,
.excomm-image,
.senators-image,
.sponsors-image {
    width: 12vw;
    height: 12vw;
    margin-bottom: 1vh;
}

.officers-image:after,
.excomm-image:after,
.senators-image:after,
.sponsors-image:after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: relative;
    background-image: url('../img/profile.jpg');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

.officers-text,
#excomm-desc,
.excomm-text,
#senators-desc,
.senators-text,
#sponsors-desc,
.sponsors-text {
    font-size: 1.1em;
    color: #fff;
    width: 100%;
}

.officers-text>span,
.excomm-text>span,
.senators-text>span,
.sponsors-text>span {
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

.officers-intro,
.excomm-intro,
.senators-intro,
.sponsors-intro {
    text-align: center;
    margin: 1.5vw;
    /*flex-basis: calc(25% - 4vw);*/
    max-width: 12vw;
    flex-wrap: wrap;
}

#excomm-desc,
#senators-desc,
#sponsors-desc {
    margin: 0 10vw;
}

#contact>h2,
#officers>h2,
#excomm>h2,
#senators>h2,
#sponsors>h2 {
    text-align: center;
}
