@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf')
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf')
}

/*http://meyerweb.com/eric/tools/css/reset/*/
html,body,div,span,button,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    font: inherit;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}

html {
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none
}

.fluid {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.fluid-slow {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

hr {
    width: 100%;
    height: 1px;
    float: left;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
    color: #2196F3;
    text-decoration: none;
}

li {
    color: #fff;
}

button.flip>i {
    height: 3vh;
    width: 3vh;
    display: block;
    background-size: cover;
}

button.expand>i {}

i.left {
    background-image: url("../icons/ic_keyboard_arrow_left_black_48px.svg");
}

i.right {
    background-image: url("../icons/ic_keyboard_arrow_right_black_48px.svg");
}

i.expand {
    background-image: url("../icons/ic_expand_less_white_48px.svg");
}

button.flip {
    cursor: pointer;
    position: absolute;
    height: 6vh;
    width: 3vh;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

button.flip.left {
    top: calc(50% - 3vh);
    left: 0;
}

button.flip.right {
    top: calc(50% - 3vh);
    right: 0;
}

button.flip:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

button.flip:active {
    background-color: rgba(255, 255, 255, 0.9);
}

button.expand {
    cursor: pointer;
    position: absolute;
    height: 6vh;
    width: 4vh;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

span>a:hover {
    color: #616161;
}

span>a:active {
    color: #212121;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: calc(60vh - 42px - 2.75em);
    z-index: 1;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#wrapper:before {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0vh;
    content: '';
    display: block;
}

section {
    width: 100%;
    min-height: 100%;
    padding-bottom: 5vh;
    display: flex;
    z-index: 2;
}

#intro,
#updates,
#officers,
#excomm,
#senators,
#sponsors,
#resources {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-flow: row wrap;
}

section h1 {
    font-size: 3.5em;
    margin-top: 0.5em;
}

section h2,
#intro-title {
    width: 100%;
    font-size: 2.1em;
    font-weight: bold;
    color: #fff;
    margin: 2.5vh 0;
    display: inline-block;
    text-align: left;
}

#intro-text {
    text-align: center;
}

#intro-text {
    width: calc(50% - 8vw);
    margin: 0 2vw;
}

#intro-image {
    text-align: center;
    width: calc(50% - 8vw);
    margin: 0 2vw;
    padding-top: calc(5% + 2.1em);
}

#intro-image>img {
    width: 100%;
}

#tweets {
    text-align: center;
    width: calc(50% - 8vw);
    margin: 0 2vw;
}

#feedback {
    text-align: center;
    width: calc(50% - 8vw);
    margin: 0 2vw;
}

#logo {
    display: inline-block;
}

#letter {
    width: 100%;
    font-size: 1.2em;
    display: inline-block;
    text-align: left;
    color: #fff;
    clear: both;
}

#letter>p {
    margin: 0.5em 0;
}

.desc {
    font-size: 1.1em;
    color: #fff;
    margin: 0.5em 5vw;
}

.list>ul {
    font-size: 1.1em;
    margin: 0 10vw;
}

.desc>span {
    display: inline-block;
}

.links>h2,
.list>h2 {
    text-align: center;
}