@import 'https://fonts.googleapis.com/css?family=Bitter:300,400,500';

body {
	margin: 0px;
	font-family: "Bitter", "Helvetica", "Arial", sans-serif;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
	img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}
	.overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		top: 0;
		left: 0;
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		background-color: rgba(77, 83, 137, 0.9);
		.title {
			text-align: center;
			opacity: 1;
			color: white;
			font-size: 2.7em;
			margin: 0px;
			margin-bottom: 5px;
			margin-left: 15px;
			margin-right: 15px;
			word-spacing: 5px;
			animation-name: fadeIn;
			animation-duration: 3s;
			animation-iteration-count: 1;
		}
		.underline {
			height: 7px;
			width: 35vw;
			background-color: rgb(236, 184, 91);
			margin-bottom: 5px;
			animation-name: underline, fadeIn;
			animation-duration: 2s;
			animation-iteration-count: 1;
		}
	}
}

@keyframes underline {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}