---
permalink: /about
orgs: ["officers", "excomm", "senators", "sponsors"]
---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link href="css/about.css" rel="stylesheet" />
    <title>About - TJSGA</title>
</head>

<body>
    {% include header.html %}
    <div id="wrapper" class="fluid">
        <section id="contact">
            <h2>Contact Us!</h2>
            <div class="desc">
                <span class="quote">
                    "The world is moved not only by the mighty shoves of the heroes, but also by the aggregate of the tiny pushes of each honest worker."  - Helen Keller
                </span>
            </div>
            <div class="desc">
                Contact us at
                <a href="mailto:sga.tjhsst@gmail.com">sga.tjhsst@gmail.com</a>. We would love to answer questions or hear
                about how you think we can improve TJ!
            </div>
        </section>
        <hr />
        {% for org_name in site.data %}
        {% assign name = page.orgs[forloop.index0] %}
        {% assign org = site.data[name] %}
        <section id="{{ org.username }}">
            <h2>{{ org.name }}</h2>
            {% for member in org.members %}
            <div class="{{ org.username }}-intro">
                <div class="{{ org.username }}-image">
                </div>
                <div class="{{ org.username }}-text">
                    {% assign year = member.year | downcase %}
                    <span>{{ member.first }} {{ member.last }} 
                        {% if name != "sponsors" %}
                            '{{ year | slice: 2, 3 }}
                        {% endif %}
                    </span>
                    {% if name != "officers" %}
                    <span>{{ member.title }}</span>
                    {% endif %}

                    {% if name == "officers" %}
                    <p>{{ member.intro }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        <hr />
        {% endfor %}
    </div>
    {% include footer.html %}
</body>

</html>
