---
permalink: /about
---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link href="css/about.css" rel="stylesheet" />
    <title>About - TJSGA</title>
</head>

<body>
    {% include header.html %}
    <div id="wrapper" class="fluid">
        <section id="contact">
            <h2>Contact Us!</h2>
            <div class="desc">
                <span class="quote">
                    "The world is moved not only by the mighty shoves of the heroes, but also by the aggregate of the tiny pushes of each honest worker."  - Helen Keller
                </span>
            </div>
            <div class="desc">
                Contact us at
                <a href="mailto:sga.tjhsst@gmail.com">sga.tjhsst@gmail.com</a>. We would love to answer questions or hear
                about how you think we can improve TJ!
            </div>
        </section>
        <hr />
        <section id="officers">
            <h2>SGA Officers</h2>
            <div class="officers-intro">
                <div class="officers-image">
                </div>
                <div class="officers-text">
                    <span>Nick Begotka '18</span>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Welcome to Thomas Jefferson High School for Science and Technology's school-wide Student Government
                        Association's new home on the web! As you know, TJ is going through some very exciting times, and
                        we want you to be a part of it with us.
                    </p>
                </div>
            </div>
            <div class="officers-intro">
                <div class="officers-image">
                </div>
                <div class="officers-text">
                    <span>Nick Begotka '18</span>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Welcome to Thomas Jefferson High School for Science and Technology's school-wide Student Government
                        Association's new home on the web! As you know, TJ is going through some very exciting times, and
                        we want you to be a part of it with us.
                    </p>
                </div>
            </div>
            <div class="officers-intro">
                <div class="officers-image">
                </div>
                <div class="officers-text">
                    <span>Nick Begotka '18</span>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Welcome to Thomas Jefferson High School for Science and Technology's school-wide Student Government
                        Association's new home on the web! As you know, TJ is going through some very exciting times, and
                        we want you to be a part of it with us.
                    </p>
                </div>
            </div>
            <div class="officers-intro">
                <div class="officers-image">
                </div>
                <div class="officers-text">
                    <span>Nick Begotka '18</span>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Welcome to Thomas Jefferson High School for Science and Technology's school-wide Student Government
                        Association's new home on the web! As you know, TJ is going through some very exciting times, and
                        we want you to be a part of it with us.
                    </p>
                </div>
            </div>
        </section>
        <hr />
        <section id="excomm">
            <h2>SGA Executive Committee</h2>
            <div id="excomm-desc">
                The Executive Committee (ExComm) is a integral sub-group of the SGA. Its members act as representatives of the student body.
                The members work with the officers to organize events and activities throughout to year. While several ExComm
                positions may have more specific roles, all are working towards the goals of the SGA. Applications to be
                on ExComm are released every June after Class Council elections have been completed.
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
            <div class="excomm-intro">
                <div class="excomm-image">
                </div>
                <div class="excomm-text">
                    <span>William Zhang '18</span>
                    <span>Technology Specialist</span>
                </div>
            </div>
        </section>
        <hr />
        <section id="senators">
            <h2>SGA Class Senators</h2>
            <div id="senators-desc">
                Jefferson's student government is divided into school-wide student government (SGA) and grade-level student government (Class
                Council). While the SGA organizes school-wide events and addresses school-wide concerns and issues, Class
                Councils represent their grade's needs and host fundraisers and events with the goal to raise money for both
                Prom and Graduation at the end of senior year. SGA Class Senators serve as Class Council members who are
                liaisons with the SGA.
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
            <div class="senator-intro">
                <div class="senator-image">
                </div>
                <div class="senator-text">
                    <span>Sabria Kazmi '19</span>
                    <span>2019 Senator</span>
                </div>
            </div>
        </section>
        <hr />
        <section id="sponsors">
            <h2>SGA Sponsors</h2>
            <div id="sponsors-desc">
                The SGA Sponsors attend all SGA meetings and functions. They also provide invaluable guidance and feedback - whether through
                late night emails, frigid-cold morning meetings, lunch discussions, or anything in between.
            </div>
            <div class="sponsor-intro">
                <div class="sponsor-image">
                </div>
                <div class="teacher-text">
                    <span>Amanda Hurowitz</span>
                    <span>TJHSST Humanities</span>
                </div>
            </div>
            <div class="sponsor-intro">
                <div class="sponsor-image">
                </div>
                <div class="teacher-text">
                    <span>Marianne Razzino</span>
                    <span>TJHSST Mathematics</span>
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>

</html>
