---
layout: compress
permalink: /
---
<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <title>Home - TJSGA</title>
</head>
<body>
    {% include header.html %}
    <div id="wrapper" class="fluid">
        <section id="intro">
            <div id="intro-text" class="fluid">
                <h2 id="intro-title">Welcome!</h2>
                <div id="letter">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Welcome to Thomas Jefferson High School for Science and Technology's school-wide Student Government
                        Association's new home on the web! As you know, TJ is going through some very exciting times, and
                        we want you to be a part of it with us.
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Here at Jefferson, we not only challenge ourselves academically, but also extracurricularly. And
                        so, tjSGA is pushing forward this year to not only continue school-wide traditions such as Homecoming
                        Week, Dancing with the Faculty, Service Week, and J-Day, but also both establish new and revive discontinued
                        traditions such as the February Snow Ball and March Volleyball tournament. Moreover, as we face obstacles
                        such as the stigma against mental illness and TJ Renovation restrictions, we hope to continually
                        find effective solutions for the student body.
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Please don't hesitate to contact me or SGA at anytime with any concerns, suggestions, or questions
                        and we'll do our best to address them.
                    </p>
                    <p>
                        Sincerely,<br /> Tim Cho<br /> SGA President 2016-17
                    </p>
                </div>
            </div>
            <div id="intro-image" class="fluid">
                <img src="img/group.jpg" alt="TJSGA Group Photo" />
            </div>
        </section>
        <hr />
        <section id="updates">
            <div id="tweets">
                <h2>Twitter</h2>
                <a class="twitter-timeline" data-height="640" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/tjSGA">Tweets by tjSGA</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="feedback">
                <h2>Feedback</h2>
                <iframe src="https://docs.google.com/forms/d/18KRo3RritoN6RddNvI-l2zZs1h_1mmVWWgRQGOk2vvQ/viewform?embedded=true" width="100%"
                    height="640" frameborder="0" marginheight="0" marginwidth="0">
                    Loading...
                </iframe>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>
</html>
