---
permalink: /resources
---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <title>Resources - TJSGA</title>
</head>

<body>
    {% include header.html %}
    <div id="wrapper" class="fluid">
        <section id="resources">
            <div class="list">
                <h2>General</h2>
                <ul>
                    <li>
                        <a href="https://ion.tjhsst.edu/static/WiFiFAQ.pdf" target="_blank">
                            TJ Wi-Fi FAQs: FCPSonboard
                        </a>
                    </li>
                    <li>
                        <a href="https://integrity.tjhsst.edu" target="_blank">
                            Academic Integrity Guide
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <h2>Mental Health</h2>
                <ul>
                    <li>
                        <a href="https://tjmindmatters.weebly.com" target="_blank">
                            TJ Mind Matters
                        </a>
                    </li>
                    <li>
                        <a href="https://tjmindmatters.weebly.com/dos-and-donts.html">
                            How to Help a Friend
                        </a>
                    </li>
                    <li>
                        <a href="https://tjmindmatters.weebly.com/from-tj-to-tj" target="_blank">
                            Read &amp; Submit  From TJ, to TJ Letters
                        </a>
                    </li>
                    <li>
                        <a href="https://tjmindmatters.weebly.com/youth-mental-health-first-aid.html" target="_blank">
                            Register for YMHFA Training
                        </a>
                    </li>
                    <li>
                        <a href="http://tjmindmatters.weebly.com/blog" target="_blank">
                            TJ Mind Matters Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <h2>Course for Action</h2>
                <div class="desc">
                    An SGA initiative, designed by the students, for the students. Learn about the courses available at TJHSST from students
                    who've taken them and the teachers that teach them!
                    <span>
                        Visit the YouTube channel <a href="https://youtube.com/channel/UCGvdoktHFvLHpqBaj17zKwQ" target="_blank">
                        here.
                    </a>
                    </span>
                </div>
            </div>
            <div class="links">
                <h2>Student Advocacy</h2>
                <div class="desc">
                    At Jefferson, students have rights and responsibilities that they are guaranteed as a part of their educational experience.
                    <a href="https://ion.tjhsst.edu/uploads/advocacy.pdf" target="_blank">
                            The Student Advocacy Guidlines
                    </a> were created to help students be aware of how they can proactively manage their
                    learning, self-advocate, and succeed in school.
                </div>
                <div class="desc">
                    Use
                    <a href="https://docs.google.com/forms/d/1clH0ga4U2G2hu2gW3EZpwW9BCJDU76RytTTJCKaheao/viewform" target="_blank">
                        this form
                    </a> to report divergences from the Student Advocacy Guidelines. Submissions will
                    be kept strictly confidential, but name & grade are required for follow-up of the situation.
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>

</html>
