<!doctype html>
<html lang='en'>

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<title>TJHSST SGA</title>
</head>

<body>
	<div class='background'>
		<img src='resources/bkg.jpg'/>
		<div class='overlay'>
			<h1 class='title'>This site is under construction</h1>
			<div class='underline'></div>
			<p class='title'>TJSSHT SGA 2018-19</p>
		</div>
	</div>
</body>
</html>