<!doctype html>
<html lang='en'>

<head>
	<meta charset='UTF-8'/>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
	<title>TJHSST SGA</title>
</head>

<body>
	<div class='navigation valign'>
		<div class='container valign seperate'>
			<div class='valign'>
				<img class='logo' src='resources/logo.png'/>
				<nav>
					<ul>
						<li><a href='#'>About Us</a></li>
						<li><a href='#'>What We Do</a></li>
						<li><a href='#'>Projects</a></li>
						<li><a href='#'>News</a></li>
						<li><a href='#'>Get Involved</a></li>
					</ul>
				</nav>
			</div>
			<div class='valign'>
				<div class='socials'>
					<a href='https://twitter.com/tjsga'><i class='fa fa-twitter'></i></a>
					<a href='mailto:sga.tjhsst@gmail.com'><i class='fa fa-envelope'></i></a>
					<a href='https://www.facebook.com/tjsga'><i class='fa fa-facebook'></i></a>
				</div>
			</div>
		</div>
	</div>
	<section class='hero-image'>
		<img src='resources/hero.png'></img>
		<div class='overlay'>
			<p class='title'>TJHSST SGA</p>
		</div>
	</section>
	<section class='content'>
		<div class='container'>
			<div class='row'>
				<div class='col segment'>
					<h1 class='segment-title'>News and Happenings</h1>
					<img class='segment-image' src='resources/segment-1.jpg'/>
					<p class='segment-para'>Read about SGA initiatives, goals, and progress from SGA officers, as well as from other student leaders, students, and student organizations.</p>
					<a class='segment-more-button' href='#'>More Info</a>
				</div>
				<div class='col segment'>
					<h1 class='segment-title'>Who We Are</h1>
					<img class='segment-image' src='resources/segment-2.jpg'/>
					<p class='segment-para'>Learn about your representatives, and how they're working to advance the common agenda that SGA has set to improve your campus experience.</p>
					<a class='segment-more-button' href='#'>More Info</a>
				</div>
				<div class='col segment'>
					<h1 class='segment-title'>Get Involved</h1>
					<img class='segment-image' src='resources/segment-3.jpg'/>
					<p class='segment-para'>Any questions or concerns? Have an idea for how SGA could be doing more to advocate for students? Want to get involved? Contact Us!</p>
					<a class='segment-more-button' href='#'>More Info</a>
				</div>
			</div>
		</div>
	</section>
	<hr class='container'/>
</body>
</html>