    <footer>
        <a href="https://facebook.com/tjsga" target="_blank">
            <button class="social" id="fb">
            </button>
        </a>
        <a href="https://twitter.com/tjSGA" target="_blank">
            <button class="social" id="tw">
            </button>
        </a>
        <a href="https://facebook.com/tjsga" target="_blank">
            <button class="social" id="flickr">
            </button>
        </a>
        <a href="mailto:sga.tjhsst@gmail.com" target="_blank">
            <button class="social" id="mail">
            </button>
        </a>
    </footer>
    <script src="js/sidebar-min.js"></script>
