    <header>
        <div id="banner">
            <button id="menu-toggle">
                <i></i>
            </button>
            <h1>TJ STUDENT GOVERNMENT ASSOCIATION</h1>
        </div>
        <nav id="menu">
            <a class="menu-item" href="index.html">
                <button class="menu-item fluid">Home</button>
            </a>
            <a class="menu-item" href="about.html">
                <button class="menu-item fluid">About</button>
            </a>
            <a class="menu-item" href="resources.html">
                <button class="menu-item fluid">Resources</button>
            </a>
            <a class="menu-item" href="forms.html">
                <button class="menu-item fluid">Forms</button>
            </a>
        </nav>
        <div id="dome">
        </div>
    </header>
