<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link href="{% static 'css/about.css' %}" rel="stylesheet" />
    {% include 'head.html' %}
    <title>About - TJSGA</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="wrapper" class="fluid">
        <section id="contact">
            <h2>Contact Us!</h2>
            <div class="desc">
                <span class="quote">
                    "The world is moved not only by the mighty shoves of the heroes, but also by the aggregate of the tiny pushes of each honest worker."  - Helen Keller
                </span>
            </div>
            <div class="desc">
                Contact us at
                <a href="mailto:sga.tjhsst@gmail.com">sga.tjhsst@gmail.com</a>. We would love to answer questions or hear
                about how you think we can improve TJ!
            </div>
        </section>
        <hr />
        {% for org in categories %}
        <section id="{{ org.0 }}">
            <h2>{{ org.1 }}</h2>
            <div class="{{ org.username }}-intro">
            {% with key=data|get_item:org.0 %}
            {% for member in key %}
                <div class="{{ org.0 }}-intro">
                    {% with year=member.year first=member.first_name last=member.last_name %}
                    {{ first }} {{ last }} {{ year }}
                    {% endwith %}
                </div>
            {% endfor %}
            {% endwith %}
        </section>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
