{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/events.css' %}" rel="stylesheet" />
    {% include 'head.html' %}
    <title>Events - TJSGA</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="wrapper" class="fluid">
        <section id="calendar">
            <iframe src="https://calendar.google.com/calendar/b/3/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sga.tjhsst%40gmail.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </section>
        <section id="events">
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
