<!DOCTYPE html>
<html>
<head>
    <link href="css/about.css" rel="stylesheet" />
    {% include head.html %}
    <title>About - TJSGA</title>
</head>
<body>
    {% include header.html %}
    <div id="wrapper" class="fluid">
        <section id="forms">
            {% for form in site.data.forms %}
            <div class="list">
                <h2>{{ form['name'] }}</h2>
                <ul>
                    {% for item in form['items'] %}
                    <li>
                        <a href="{{ item['link'] }}">
                            {{ item['name'] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>
    {% include footer.html %}
</body>
</html>
