<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% include 'head.html' %}
    <title>Home - TJSGA</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="wrapper" class="fluid">
        <section id="intro">
            <div id="intro-text" class="fluid">
                <h2 id="intro-title">Welcome!</h2>
                <div id="letter">
                    <p>
                    Welcome to Thomas Jefferson High School for Science and Technology’s student leadership site! Here, you can find information about your class and school-wide officers, our current goals and initiatives, and important events and forms. 
                    </p>
                    <p>
                    We meet every 8th period block in the Student Leadership Room (Room 224), and all members of the student body are welcome to attend. If you can’t make it to an SGA meeting and have any questions, concerns, or suggestions, feel free to contact us at sga.tjhsst@gmail.com.
                    </p>
                    <p>
                        Best,<br />Nick Begotka<br /> SGA President 2017-18
                    </p>
                </div>
            </div>
            <div id="intro-image" class="fluid">
                <img src="{% static 'img/group.jpg' %}" alt="TJSGA Group Photo" />
            </div>
        </section>
        <hr />
        <section id="updates">
            <div id="tweets">
                <h2>Twitter</h2>
                <a class="twitter-timeline" data-height="640" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/tjSGA">Tweets by tjSGA</a>
                <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="feedback">
                <h2>Feedback</h2>
                <iframe src="https://docs.google.com/forms/d/18KRo3RritoN6RddNvI-l2zZs1h_1mmVWWgRQGOk2vvQ/viewform?embedded=true" width="100%"
                    height="640" frameborder="0" marginheight="0" marginwidth="0">
                    Loading...
                </iframe>
            </div>
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
